version: '3.8'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      DISABLE_PREFLIGHT_CHECKS: "true"

  broker:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      DISABLE_PREFLIGHT_CHECKS: "true"
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9092 || exit -1"]
      interval: 10s
      timeout: 5s
      retries: 5

  schema-registry:
    image: confluentinc/cp-schema-registry:7.4.0
    depends_on:
      broker:
        condition: service_healthy
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker:29092'
      DISABLE_PREFLIGHT_CHECKS: "true"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8081/ || exit -1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s
    restart: on-failure

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8082:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:29092
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schema-registry:8081
    depends_on:
      - broker
      - schema-registry

  producer:
    build: .
    depends_on:
      broker:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    environment:
      KAFKA_BOOTSTRAP_SERVERS: broker:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    command: ["java", "-cp", "app.jar", "com.assignment.OrderProducer"]

  consumer:
    build: .
    depends_on:
      broker:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    environment:
      KAFKA_BOOTSTRAP_SERVERS: broker:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    command: ["java", "-cp", "app.jar", "com.assignment.OrderConsumer"]

  dlq-consumer:
    build: .
    depends_on:
      broker:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    environment:
      KAFKA_BOOTSTRAP_SERVERS: broker:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    command: ["java", "-cp", "app.jar", "com.assignment.OrderDLQConsumer"]